@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD; 
    --color-hover: #0000FF;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-Krona: 'Krona one', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;    
    
}

.header__menu{
    display: flex;
    gap: 5rem;
}

.header__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);  
    text-decoration: none;  
}

.presentacion {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-Krona);
}

.titulo-destaque {
    color: var(--color-terciario); ;
}


.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.presentacion__enlaces__link{   
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.34rem 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 0.125rem solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
    padding: 3%;
    cursor: pointer;
}

.presentacion__imagen{
    width: 50%;
}

.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

@media(max-width: 1200px){
    
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}

